.wp-block[data-custom-bulletcolor="1"] {

	&[data-type="core/list"] {

		div[data-block]:not([data-block=""]),
		> {

			ol:not(.is-style-connected),
			ul:not(.is-style-connected) {

				li {
					list-style-type: none !important;
					counter-increment: li;
					position: relative;
					padding-left: 8px;

					&::before {
						text-align: center;
						background-size: cover;
						display: inline-block;
						height: 25px;
						left: -25px;
						position: absolute;
						transform: scale(0.9);
						width: 25px;
						background-color: transparent;
						color: var(--ek-bullet-color);
					}
				}
			}

			ul:not(.is-style-connected):not(.is-style-none) {

				li {

					&::before {
						content: "\2022";
						font-weight: 900;
					}
				}
			}

			ol:not(.is-style-connected):not(.is-style-none) {
				counter-reset: li var(--li-start, 0);

				li {

					&::before {
						content: counter(li) ".";
						width: auto !important;
						min-width: 25px;
					}
				}
			}

			ol,
			ul {

				&.has-list-bullet-color,
				&.is-style-arrow,
				&.is-style-checked,
				&.is-style-connected,
				&.is-style-starred,
				&.is-style-crossed {

					li {

						&::before {
							background-color: var(--ek-bullet-color);
						}

						&::after {
							border-color: var(--ek-bullet-color);
						}
					}
				}

				&.is-style-arrow {

					li {

						&::before {
							transform: scale(0.65);
							margin-top: -16px;
						}
					}
				}

				&.is-style-dashed {
					list-style-type: none;

					li {

						&::before {
							content: "–" !important;
							text-align: right;
							color: var(--ek-bullet-color);
						}
					}
				}
			}
		}
	}
}
