.wp-block[data-type="editorskit/shareablock"]{
	.components-placeholder__fieldset{
		.components-base-control{
			width: 100%;
		}
		.components-base-control__help{
			margin-bottom: 0px;
		}
	}
}

.editorskit-inline-error{
	margin: 0 0 15px 0;
	width: 100%;
	padding: 8px 15px;
}