{
  "parser": "babel-eslint",
  "globals": {
    "wp": "readonly"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "eslint:recommended",
  ],
  "rules": {
    "no-unused-vars": "off"
  }
}