**/node_modules/**
vendor/**
build/*.php
build/*.asset.php
build/admin.asset.php
build/devtools.asset.php
build/index.asset.php
build/settings.asset.php
build/style.asset.php
build/*.map
coverage
cypress
node_modules
*.sublime-project
*.sublime-workspace
.DS_Store
.ftppass
*.cache
sftp.json.github/
.vscode
.vscode/
.idea
