.wp-block-media-text {

	&:not(.has-media-on-the-right):not(.has-media-on-the-left) {

		&.has-media-on-the-top {
			grid-template-columns: 100% !important;
			grid-template-areas:
				"media-text-media"
				"media-text-content";

			.wp-block-media-text__content {
				grid-column: 1;
				grid-row: 2;
			}
		}

		&.has-media-on-the-bottom {
			grid-template-columns: 100% !important;
			grid-template-areas:
				"media-text-content"
				"media-text-media";

			.wp-block-media-text__media {
				grid-column: 1;
				grid-row: 2;
			}

			.wp-block-media-text__content {
				grid-column: 1;
				grid-row: 1;
			}
		}
	}
}
