@import "./breakpoints";
$m: !important;

//Flexbox
.ek-flex > div > .editor-inner-blocks > .editor-block-list__layout {
	display: flex $m;
}

.ek-flex-initial > div > .editor-inner-blocks > .editor-block-list__layout {
	flex: 0 1 auto $m;
}

.ek-flex-1 > div > .editor-inner-blocks > .editor-block-list__layout {
	flex: 1 1 0% $m;
}

.ek-flex-auto > div > .editor-inner-blocks > .editor-block-list__layout {
	flex: 1 1 auto $m;
}

.ek-flex-none > div > .editor-inner-blocks > .editor-block-list__layout {
	flex: none $m;
}

.ek-flex-no-wrap > div > .editor-inner-blocks > .editor-block-list__layout {
	flex-wrap: nowrap $m;
}

.ek-flex-wrap > div > .editor-inner-blocks > .editor-block-list__layout {
	flex-wrap: wrap $m;
}

.ek-flex-wrap-reverse > div > .editor-inner-blocks > .editor-block-list__layout {
	flex-wrap: wrap-reverse $m;
}

.ek-flex-row > div > .editor-inner-blocks > .editor-block-list__layout {
	flex-direction: row $m;
}

.ek-flex-row-reverse > div > .editor-inner-blocks > .editor-block-list__layout {
	flex-direction: row-reverse $m;
}

.ek-flex-col > div > .editor-inner-blocks > .editor-block-list__layout {
	flex-direction: column $m;
}

.ek-flex-col-reverse > div > .editor-inner-blocks > .editor-block-list__layout {
	flex-direction: column-reverse $m;
}

.ek-items-stretch > div > .editor-inner-blocks > .editor-block-list__layout {
	align-items: stretch $m;
}

.ek-items-start > div > .editor-inner-blocks > .editor-block-list__layout {
	align-items: flex-start $m;
}

.ek-items-center > div > .editor-inner-blocks > .editor-block-list__layout {
	align-items: center $m;
}

.ek-items-end {

	&.wp-block-cover,
	> div > .editor-inner-blocks > .editor-block-list__layout {
		align-items: flex-end $m;
	}
}

.ek-items-baseline > div > .editor-inner-blocks > .editor-block-list__layout {
	align-items: baseline $m;
}

.ek-justify-start > div > .editor-inner-blocks > .editor-block-list__layout {
	justify-content: flex-start $m;
}

.ek-justify-center > div > .editor-inner-blocks > .editor-block-list__layout {
	justify-content: center $m;
}

.ek-justify-end > div > .editor-inner-blocks > .editor-block-list__layout {
	justify-content: flex-end $m;
}

.ek-justify-between > div > .editor-inner-blocks > .editor-block-list__layout {
	justify-content: space-between $m;
}

.ek-justify-around > div > .editor-inner-blocks > .editor-block-list__layout {
	justify-content: space-around $m;
}

// Fullwidth display.
.ek-w-full {

	&.wp-block-button {

		> div {

			&,
			> .wp-block-button__link {
				width: 100%;
			}
		}
	}
}

.wp-block[data-editorskit-w-full="1"] {

	&[data-type="core/button"] {
		display: block !important;

		> .editor-block-list__block-edit,
		> .block-editor-block-list__block-edit,
		> .is-block-content {

			&.is-block-content > div:not([class]),
			> div[data-block]:not([data-block=""]) {
				width: 100%;

				.wp-block-button {

					&,
					> div,
					.wp-block-button__link {
						width: 100%;
					}
				}
			}
		}

		> div:not([class]) {
			width: 100%;

			.wp-block-button {

				&,
				> div,
				.wp-block-button__link {
					width: 100%;
				}
			}
		}
	}
}
