.components-modal--editorskit-transform-empty {

	.components-modal__content {

		p {
			margin-bottom: 20px;
		}

		p:last-child {
			opacity: 0.6;
			margin: 5px 0 0;
		}

		button {
			height: 33px;
			line-height: 32px;
			font-size: 13px;
		}
	}
}
