.editorskit-settings-tab-panel {

	.editorskit-typography-admin-settings {

		.editorskit-typography-search {

			&::before {
				display: none;
			}
		}

		.editorskit-typography-selection,
		.editorskit-typography-search {
			padding: 0 30px;
		}

		.editorskit-typography-search {
			width: calc(100% - 90px);
		}

		.editorskit-typography--items {

			.editorskit-typography--item {
				flex: 1 0 calc(33% - 20px);
				flex-grow: 0;

				&:not(.editorskit-typography--item__current) {

					> .components-button {

						&:hover {
							border: 1px solid #e2e4e7;
						}
					}
				}

				button {
					color: inherit;

					&:hover {
						text-decoration: none;
					}
				}

				.components-dropdown-menu {
					display: block;

					.components-popover {

						.components-button {
							text-align: left;
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.components-panel__body {
			padding: 0;
			border: 1px solid #444;

			.components-panel__body-title {

				button {
					margin-bottom: 0;
					color: inherit;

					&:hover {
						text-decoration: none;
					}
				}
			}

			&.is-opened {

				.components-panel__body-title {
					margin: 0;
				}
			}
		}

		> .components-panel__body {

			&.is-opened {

				@media only screen and (min-width: 760px) {
					> .components-panel__body-title {
						position: sticky;
						top: 32px;
						z-index: 99;
						background: #fff;
						border-bottom: 1px solid#444;
					}
				}
			}
		}
	}
}

.editorskit-delete-typography-modal {

	.components-button {

		&.is-destructive {
			margin-right: 8px;
			background: #b52727;
			border-color: #b52727;
			color: #fff;
		}
	}
}

.editorskit-typography-deleted {
	display: block;
	text-align: center;
	color: #b52727;
}
