.editorskit-editor-settings {
	& .components-base-control__help {
		margin-left: 0 !important;
	}

	.editorskit-option:not(:last-child) {
		margin-bottom: 20px;
	}

	.editorskit-editor-settings-search-control {
		margin-bottom: 20px;
	}

	// .editorskit-no-settings-found {
		// padding: 40px 20px;
	// }
}