.is-guide-lines-on{
	.block-editor-block-list__layout {
		.block-editor-block-list__block:not([data-type="core/columns"]):not([data-type="core/column"]){
			>.block-editor-block-list__block-edit:before{
				border: 1px solid rgba( 66,88,99,.2 );
			}
			
			&.is-selected{
				>.block-editor-block-list__block-edit:before{
					border: 1px solid rgba( 66,88,99,.4 );
					border-left: none;
				}
			}
		}
	}
}