/*--------------------------------------------------------------
# FullScreen Modal
--------------------------------------------------------------*/
.editorskit-fullscreen-modal {
	height: 100%;
	width: 100%;
}

/*--------------------------------------------------------------
# Link Popover
--------------------------------------------------------------*/
.editor-url-popover__row,
.block-editor-url-popover__row {

	&.block-editor-url-popover__settings {

		.components-toggle-control {

			.components-base-control__field {
				display: flex;
				flex-direction: row-reverse;

				.components-form-toggle,
				.components-toggle-control__label,
				.components-checkbox-control__label {
					display: flex;
					flex-direction: column;
					flex: 1;
				}

				.components-form-toggle {
					margin-right: 0;
					margin-left: 16px;
				}

				.components-toggle-control__label,
				.components-checkbox-control__label {
					flex-basis: 100%;
				}

			}

		}
	}
}

/*--------------------------------------------------------------
# Heading Labels
--------------------------------------------------------------*/
.is-editorskit-heading-label-on:not(.is-iceberg) {

	.editor-styles-wrapper {

		.wp-block[data-type="core/heading"]:not(.is-selected) {
			
			position: relative;

			&::after {
				content: "";
				font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
				position: absolute;
				top: 3px;
				left: -24px;
				font-weight: 500;
				font-size: 12px;
				opacity: 0.5;
				letter-spacing: 0;
			}
		}

		h1.wp-block[data-type="core/heading"]:not(.is-selected)::after {
			content: "H1";
		}

		h2.wp-block[data-type="core/heading"]:not(.is-selected)::after {
			content: "H2";
		}

		h3.wp-block[data-type="core/heading"]:not(.is-selected)::after {
			content: "H3";
		}

		h4.wp-block[data-type="core/heading"]:not(.is-selected)::after {
			content: "H4";
		}

		h5.wp-block[data-type="core/heading"]:not(.is-selected)::after {
			content: "H5";
		}

		h6.wp-block[data-type="core/heading"]:not(.is-selected)::after {
			content: "H6";
		}

		.editor-inner-blocks,
		.block-editor-inner-blocks {

			.wp-block[data-type="core/heading"]:not(.is-selected):not(.is-hovered) {

				.wp-block-heading {

					h1,
					h2,
					h3,
					h4,
					h5,
					h6 {

						&::after {
							content: "";
						}
					}
				}
			}
		}
	}

	&.is-guide-lines-on {

		.editor-styles-wrapper {

			.wp-block[data-type="core/heading"]:not(.is-selected):not(.is-hovered) {

				.wp-block-heading {

					h1,
					h2,
					h3,
					h4,
					h5,
					h6 {

						&::after {
							left: -34px;
						}
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------
# Drag & Drop
--------------------------------------------------------------*/
.components-draggable__clone {

	> .wp-block {

		> .editor-block-list__block-edit,
		> .block-editor-block-list__block-edit {

			&::before {
				background: #fff;
			}
		}
	}
}

/*--------------------------------------------------------------
# Menu Options Popover
--------------------------------------------------------------*/
.components-popover {

	&.edit-post-more-menu__content {

		> .components-popover__content {
			max-height: calc(100vh - 100px);
			overflow: scroll;
		}
	}
}

/*--------------------------------------------------------------
# Chrome version 77 bug fixes
--------------------------------------------------------------*/
.block-editor-writing-flow {
	height: auto;
}

/*--------------------------------------------------------------
# Improve Block with DropZone
--------------------------------------------------------------*/
body:not(.is-iceberg) {

	.components-placeholder {

		&.editor-media-placeholder,
		&.block-editor-media-placeholder {
			outline: 1px dashed #8d96a0;
		}
	}
}
