.editorskit-about-wrap{
	background: #fff;
	padding: 30px;
	border: 1px solid #e2e4e7;
    border-radius: 3px;
    max-width: 600px;
    text-align: left;
    width: calc(100% - 20px);
    margin: 40px 20px 80px;
    font-size: 16px;

    h1{
    	color: #23282d;
	    font-size: 1.5em;
	    font-weight: 700;
	    line-height: 1.4;
	    margin: 0px 0px 28px;
    }
}