.editorskit-about-wrap {
	background: #fff;
	padding: 50px;
	// border: 1px solid #e2e4e7;
	// border-radius: 3px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
	max-width: 650px;
	text-align: left;
	width: calc(100% - 20px);
	margin: 40px 20px 80px;

	h1 {
		color: #23282d;
		font-size: 2.2em;
		line-height: 1.4;
		margin: 0 0 28px;
	}

	&,
	p {
		color: #23282d;
		font-size: 19px;
		font-weight: 300;
	}

	p {
		margin: 1.25em 0;
	}

	iframe {
		width: 100%;
	}

	img {
		width: 160px;
	}
}
