.wp-block[data-editorskit-h-screen="1"] {

	> .editor-block-list__block-edit {

		> div {

			> [class*="wp-block-"] {
				min-height: 100vh;

				&.wp-block-image {

					img {
						min-height: 100vh;
						object-fit: cover;
					}
				}

				&.wp-block-media-text {

					.block-library-media-text__media-container {
						min-height: 100vh;
					}
				}
			}
		}
	}

	.wp-block-image {

		img {
			min-height: 100vh;
			object-fit: cover;
		}
	}

	.wp-block-media-text {

		.block-library-media-text__media-container {
			min-height: 100vh;
		}
	}

	&[data-type="core/cover"] {

		> .editor-block-list__block-edit {

			> div {

				> .components-resizable-box__container {

					> [class*="wp-block-"] {
						min-height: 100vh;
					}
				}
			}
		}

		.components-resizable-box__container {

			> [class*="wp-block-"] {
				min-height: 100vh;
			}
		}
	}
}
