body {

	div,
	.entry {

		[class*="wp-block-"] {

			&.h-screen {
				min-height: 100vh;

				&.wp-block-image {

					img {
						object-fit: cover;
						min-height: 100vh;
					}
				}
			}
		}
	}
}
