.components-editorskit__inline-color-popover{
	.components-popover__content{
		padding: 20px 18px;
		.components-color-palette{
    		margin-top: .6rem;
		}
		.components-base-control__title{
			display: block;
			margin-bottom: 16px;
			font-weight: 600;
			color: #191e23;
		}
		.component-color-indicator{
			vertical-align: text-bottom;
		}
	}
}
.editorskit-settings__separator{
	display: block;
	margin: 24px -18px;
    border-top: 1px solid #e2e4e7;
}
.components-editorskit-dropdown-menu__toggle{
	svg{
		background: #eee;
	}
}