/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

$desktop : 769px;
$tablet : 768px;
$mobile : 736px;
body{
	.blockopts-show{
		display: none;
	}
@media screen and (min-width: $desktop) {
	.blockopts-hide.blockopts-desktop{
		display: none;
	}
	.blockopts-show.blockopts-desktop{
		display: block;
	}
}
@media screen and (max-width: $tablet)
and (min-width: $mobile + 1) {
	.blockopts-hide.blockopts-tablet{
		display: none;
	}
	.blockopts-show.blockopts-tablet{
		display: block;
	}
}
@media screen and (max-width: $mobile) {
	.blockopts-hide.blockopts-mobile{
		display: none;
	}
	.blockopts-show.blockopts-mobile{
		display: block;
	}
}
}
