.editorskit-components-modal__content{
	width: 320px;
	min-width: 200px !important;

	.editorskit-button-group-container{
		padding: 15px 0px;

    	&.editorskit-button-group-devices{
    		padding-top: 5px;
    		border-top: 0px;
    	}

    	&:last-child{
    		border-bottom: 0px;
    	}
	}
}