.edit-post-text-editor {
	max-width: 99% !important;
}

.edit-post-text-editor__body {

	.editor-post-title__block {
		max-width: 100% !important;
	}

	.CodeMirror {
		height: auto;

		&.CodeMirror-wrap {
			border: 1px solid #ddd;
		}

		.CodeMirror-scroll {
			height: auto !important;
			overflow: visible !important;
		}
	}
}

.editorskit-editor-loaded {

	.edit-post-text-editor,
	.edit-post-visual-editor {
		animation: slide-up 0.4s ease;
	}

	@keyframes slide-up {

		0% {
			opacity: 0;
			transform: translateY(10px);
		}

		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
