
@keyframes editorskit_apear {
    0% {
        transform: translateY(32px);
    }
    
    100% {
        transform: translateY(0);
    }
}

.interface-interface-skeleton__sidebar {
    
    &.editorskit-is-detached {
        animation: editorskit_apear .1s ease-out;
        position: absolute !important;
        right: 20px;
        top: 100px;
        height: 70vh;
        left: auto;
        width: 280px;
    
        & .components-panel__header {
            cursor: move;
        }

    }
    

}