.editorskit-hide-title-label {

	&.components-base-control {
		text-transform: capitalize;

		.components-base-control__help {
			margin-top: 5px;
			background: #fbf9c1;
			padding: 1px 10px;
			margin-left: 0;
			font-size: 13px;
		}
	}
}

body {

	&.editorskit-title-hidden:not(.is-iceberg) {

		.editor-post-title__block {

			.editor-post-title__input {
				opacity: 0.5;
			}
		}

		.editorskit-hidden-title-label {
			display: block;
		}
	}

	&.editorskit-title-visible-disabled {

		.editorskit-toggle-title,
		.editorskit-hidden-title-label {
			display: none;
		}

		.editor-post-title__block {

			.editor-post-title__input {
				opacity: 1;
			}
		}
	}
}
