name: WordPress Support Check
on:
  schedule:
    - cron: "*/30 * * * *" # every 30mins

jobs:
  check-support:
    runs-on: ubuntu-latest
    steps:
      - name: Check WordPress Support
        uses: CakeWP/integrate-github-with-wordpress@v1.1
        with:
          plugin-slug: block-options
          github-token: ${{ secrets.SUPPORT_TOKEN }}
          random-assignees: farhan-shafi, muneebahmed0346
          repo-name: block-options